@import "./variables.scss";

$borderRadius: 100px;
$borderWidth: 2px;
@mixin negativeBorder {
    top: $borderWidth * -1;
    bottom: $borderWidth * -1;
    left: $borderWidth * -1;
    right: $borderWidth * -1;
}

a {
    text-decoration: none;
}

.ds-btn {
    cursor: pointer;
    background-color: $white;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    border-radius: $borderRadius;
    transition:
        background 0.5s,
        color 0.5s;
    &::after {
        content: "";
        position: absolute;
        background: $button-gradient;
        @include negativeBorder;
        z-index: -1;
        border-radius: $borderRadius + 1px;
    }
    span {
        background: $gradient-text;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        transition: color 0.5s;
        line-height: 20px;

        svg {
            color: $gradient1-end8;
        }
    }
    &:hover {
        background-color: transparent;
        color: $white;
        span {
            color: $white;

            svg {
                color: $white;
            }
        }
    }

    &.alt {
        &::after {
            background: $button-gradient;
            transition: background-position 0.5s;
        }
        &:hover {
            background-color: $white;
            color: $white;
            &::after {
                background-position: 0% 0;
            }
        }
    }


 
    &.rounded-8px {
        border-radius: 8px;

        &::after {
            border-radius: 9px; // Adjusted for the pseudo-element to maintain the design
        }
    }
}



.bottom-text {
    color: $bottom-text-color; 
    font-family: Spectral; 
    font-weight: 500; 
    line-height: 53px; 
    word-wrap: break-word;
    font-style: italic;
  }

  .cursor-pointer {
    cursor: pointer;
  }

.img-bg-cover {
    background-size: cover;
}