/* Variables */
$separator-color: #23cbf7;
$font-family: 'robo';

/* Main Heading Styles */
.main-heading {
  font-size: 2.5rem; /* Default for large screens */

  @media (max-width: 1200px) {
    font-size: 2rem; /* Medium screens */
  }

  @media (max-width: 768px) {
    font-size: 1.6rem; /* Small screens */
  }

  @media (max-width: 576px) {
    font-size: 1.2rem; /* Extra small screens */
  }
}

/* Subheadings Styles */
.subheadings {
  font-size: 1.2rem; /* Default for large screens */
  white-space: wrap; /* Prevents wrapping */

  @media (max-width: 1200px) {
    font-size: 1rem; /* Medium screens */
  }

  @media (max-width: 768px) {
    font-size: 0.9rem; /* Small screens */
  }

  @media (max-width: 576px) {
    font-size: 0.6rem; /* Extra small screens */
  }
}

/* Separator Styles */
.separator {
  color: $separator-color;
  padding: 0 14px;
  font-family: $font-family;
}
