@import "../../assets/scss/variables.scss";

// Define color and spacing variables
$white: $white;
$black: $black;
$border-color: #e0e0e0;
$text-dark: #5f6368;
$text-light: #333;
$transition-speed: 0.2s;
$font-size-md: 2.5rem;
$font-size-sm: 1.25rem;
$font-size-xs: 1rem;

// Card Container Styling
.specialization-card {
  position: relative; /* Ensures the overlay stays on top of the image */
  border-radius: 8px; /* Add rounded corners */
  overflow: hidden; /* Ensure content doesn't spill out of the card */
}

// Card Title
.card-title {
  font-size: $font-size-md;
  font-weight: bold;
  color: $white;
  text-shadow: 2px 2px 4px $black; /* Add depth to text */
  margin-bottom: 0.5rem;
}

// Card Text
.card-text {
  font-size: 1.2rem;
  font-weight: 300;
  color: $white;
  text-shadow: 1px 1px 3px $black;
}

@media (max-width: 1200px) {
  .card-title {
    font-size: 2rem;
  }
  .card-text {
    font-size: $font-size-xs;
  }
}

@media (max-width: 992px) {
  .card-title {
    font-size: 1.8rem;
  }
  .card-text {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .card-title {
    font-size: 1.6rem;
    text-align: center;
  }
  .card-text {
    font-size: 0.85rem;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .card-title {
    font-size: 1.4rem;
    text-align: center;
  }
  .card-text {
    font-size: 1.3rem;
    text-align: center;
  }
}

.feature-card {
  border: 1px solid $border-color;
  border-radius: 8px;
  background-color: #FBFBFB !important;
  transition: transform $transition-speed ease-in-out;
  height: 100% !important;
}

// Icon Styling
.feature-icon i {
  font-size: 2.5rem;
  color: $text-dark;
}

// Title Styling
.feature-title {
  font-size: $font-size-sm;
  font-weight: 600;
  color: $text-light;
}

.feature-description {
  font-size: 1rem; /* Normal text size */
  color: $text-dark; /* Muted dark-gray color for description */
  line-height: 1.5; /* Comfortable line spacing */
}


.gradient-card-1 {
  background: linear-gradient(117deg, #d4fffe 0%, #dfd4ff 50%, #ffdff0 100%);
  font-family: "Roboto";
}

.gradient-card-2 {
  background: linear-gradient(117deg, #fff8df 0%, #ffd7d4 50%, #ffddf1 100%);
  font-family: "Roboto";
}

.gradient-card-3 {
  background: linear-gradient(90deg, #D4FFFE 0%, #E9FAE6 50%, #FFF5CB 100%);
}

.gradient-card-4 {
  background: linear-gradient(90deg, #FCFFCB 0%, #FFD9DD 52%, #FFF2D4 100%);
}