@import "../../../assets/scss/variables.scss";

/* Variables */
$header-background: #282c34;
$text-color-white: $white;
$text-color-black: $black;
$text-color-gray: #555;
$transition-duration: 0.3s;
$transition-ease: ease-in-out;
$font-size-label: 1.5rem;
$font-size-description: 1rem;
$hover-opacity: 0.5;


.about-heading {
  font-size: 2.5rem; /* Adjust font size */
  color: $text-color-black; /* Heading color */
}

.about-description {
  font-size: 1.2rem; /* Adjust font size */
  line-height: 1.8; /* Better line spacing */
  max-width: 800px; /* Limit width for better readability */
  color: $text-color-gray; /* Subtle text color */
}

.responsive-logo {
  height: auto;
  width: 100%;
  max-width: 150px; /* Limit maximum size for larger screens */
}

.consultant-card {
  position: relative;
  border: none !important;
  overflow: hidden;
}

.hover-img {
  width: 100%;
  height: auto;
  transition: transform $transition-duration $transition-ease;

  &:hover {
    transform: scale(1.1); /* Zooms image */
  }
}

/* Wrapper for Text Content */
.consultant-content {
  position: absolute;
  bottom: 10px; /* Starts at the bottom */
  left: 10px;
  right: 10px;
  color: $text-color-white;
  padding: 10px;
  border-radius: 5px;
  transform: translateY(100%); /* Start off-screen */
  transition: transform 0.4s $transition-ease, opacity $transition-duration $transition-ease; /* Smooth transition */
  opacity: 0; /* Hidden initially */

  .consultant-card:hover & {
    transform: translateY(0); /* Slides up into view */
    opacity: 1; /* Becomes fully visible */
  }
}

/* Bottom-Left Text Label */
.consultant-label {
  font-size: $font-size-label;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Description below the title */
.consultant-description {
  font-size: $font-size-description;
  font-weight: 400;
}

/* Bottom-Right Icon */
.hover-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: $font-size-label;
  color: $text-color-white;
  padding: 8px;
  border-radius: 50%;
  transition: opacity $transition-duration $transition-ease;
  opacity: $hover-opacity;

  .consultant-card:hover & {
    opacity: 1;
  }
}
